<div class="well" style="text-align: center;">
    <div class="" id="banner">
        <div class="row">
            <div class="col-lg-12">
                <div style="font-size: 67.5px;">SCRAPPET</div>
                <p class="lead">Get information about pages via a RESTful API</p>
                <div>v0.1 </div>
                <br>
               <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/davidesantangelo/snippet-rest-api" data-style="mega" data-count-href="/davidesantangelo/snippet-rest-api/watchers" data-count-api="/repos/davidesantangelo/snippet-rest-api#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch davidesantangelo/snippet-rest-api on GitHub">Watch</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="api-details">
            <h3><%= link_to "http://scrappet.herokuapp.com/api/scrape?url=www.heroku.com" do %><span class="label label-success pull-right">GET</span><% end %> Get all informations!</h3>
            <div class="input-group">
                <code id="rc-a-all" class="rc-a-tryit rc-a-code">api/scrape?url=::URL::</code>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="api-details">
            <h3><%= link_to "http://scrappet.herokuapp.com/api/scrape/title?url=www.heroku.com" do %><span class="label label-success pull-right">GET</span><% end %>   Title</h3>
            <div class="input-group">
                <code class="rc-a-tryit rc-a-code">api/scrape/title?url=::URL::</code>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="api-details">
            <h3><%= link_to "http://scrappet.herokuapp.com/api/scrape/description?url=www.heroku.com" do %><span class="label label-success pull-right">GET</span><% end %>   Description</h3>
            <div class="input-group">
                <code class="rc-a-tryit rc-a-code">api/scrape/description?url=::URL::</code>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="api-details">
            <h3><%= link_to "http://scrappet.herokuapp.com/api/scrape/links?url=www.heroku.com" do %><span class="label label-success pull-right">GET</span><% end %>   Links</h3>
            <div class="input-group">
                <code class="rc-a-tryit rc-a-code">api/scrape/links?url=::URL::</code>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="api-details">
            <h3><%= link_to "http://scrappet.herokuapp.com/api/scrape/images?url=www.heroku.com" do %><span class="label label-success pull-right">GET</span><% end %>   Images</h3>
            <div class="input-group">
                <code class="rc-a-tryit rc-a-code">api/scrape/images?url=::URL::</code>
            </div>
        </div>
    </div>
</div>
<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>